<div class="slider">
	<div class="cards">
		<div class="wrap">
			{{#>Slider/Card/Card sticker='' title='Тарелка керамическая ручной работы
			⌀ 12' mainPrice='600' oldPrice='810 ₽'}}
			{{>Slider/Card/Images/ImagesData-1}} {{/Slider/Card/Card}}
		</div>

		<div class="wrap">
			{{#>Slider/Card/Card sticker='' title='Кашпо для цветов керамическое
			СИМПЛГРЕЙ' mainPrice='450' oldPrice=''}}
			{{>Slider/Card/Images/ImagesData-2}} {{/Slider/Card/Card}}
		</div>

		<div class="wrap">
			{{#>Slider/Card/Card sticker='hit' title='Умные часы SMARTWATCH XM 109
			черный' mainPrice='12 999' oldPrice=''}}
			{{>Slider/Card/Images/ImagesData-3}} {{/Slider/Card/Card}}
		</div>

		<div class="wrap">
			{{#>Slider/Card/Card sticker='new' title='Золотое кольцо МАЛИКА с
			аметистом и фианитами' mainPrice='15 700' oldPrice=''}}
			{{>Slider/Card/Images/ImagesData-4}} {{/Slider/Card/Card}}
		</div>
	</div>
</div>
