:root
	font-family: $mainFontFamily

	color-scheme: light
	color: $mainBlack

	font-synthesis: none
	text-rendering: optimizeLegibility
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	-webkit-text-size-adjust: 100%

body
	margin: 0
	min-width: 320px
	min-height: 100vh

#content
	margin: $mainContentMargin
	max-width: $mainContentWidth

ul,ol,li
	list-style: none
